<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-5 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/bg-3.jpg" class="img-fluid" title="about Image" alt="about">
                        </figure>
                    </div>
                    <!-- right side -->
                    <div class="col-md-7 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I m a <span class="text-clr"> Mern Stack Developer</span> and freelancer</h1>
                        <a href="/weather"><button>about me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
   {{>footer}}
</body>
</html>